<ion-view title="Now Playing">
  <ion-content scroll="false">
    <div class="playback" ng-controller="MopidyCtrl">
      <mopidy-track-info mopidy-track="mopidy.currentTlTrack.track"></mopidy-track-info>
      <mopidy-seek-slider></mopidy-seek-slider>
      <div class="button-bar">
        <mopidy-repeat-button></mopidy-repeat-button>
        <mopidy-previous-button></mopidy-previous-button>
        <mopidy-play-button></mopidy-play-button>
        <mopidy-next-button></mopidy-next-button>
        <mopidy-random-button></mopidy-random-button>
      </div>
    </div>
  </ion-content>
</ion-view>
