/* Empty. Add your own CSS if you like */
.mopidy-playback {
    height: 100%;
}

.mopidy-playback img {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mopidy-playback .mopidy-track-info {
    padding: 10px;
    height: 10%;
    text-align: center;
}

.mopidy-playback .range {
    height: 10%;
}

.mopidy-playback .button-bar {
    height: 10%;
}

.mopidy-track-info h2 {
    font-size: 12pt;
}

.mopidy-track-info p {
    color: #666;
    font-size: 12px;
}

.mopidy-playback-bar {
    height: 75px;
    text-decoration: none;
}

.mopidy-playback-bar img {
    height: 100%;
}

.mopidy-playback-bar .mopidy-track-info {
    padding: 10px;
    height: 100%;
}

.mopidy-playback-bar .button.pull-right {
    margin: 16px;
}
