<ion-view title="Player">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-tabs>
    <ion-tab title="History">
      <ion-content>
        <ion-list>
          <butler-track ng-repeat="track in history"></butler-track>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Current">
      <ion-content scroll="false">
        <ion-list type="list-inset">
          <ion-item>
            <img ng-src="{{current_track.image_url}}">
          </ion-item>
          <ion-item>
            <h2>{{current_track.name}}</h2>
            <p>{{current_track.artist}}</p>
          </ion-item>
          <ion-item>
            <div class="button-bar">
              <button class="button button-icon icon ion-ios7-skipbackward"></button>
              <button class="button button-icon icon"
                 ng-class="playing ? 'ion-ios7-pause' : 'ion-ios7-play'"></button>
              <button class="button button-icon icon ion-ios7-skipforward"></button>
              <button class="button button-icon icon ion-ios7-fastforward"></button>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Queue">
    </ion-tab>
  </ion-tabs>
</ion-view>
