<ion-view title="Player">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-tabs>
    <ion-tab title="Current">
      <ion-content scroll="false">
        <ion-list type="list-inset">
          <ion-item ng-hide="current_track === null">
            <img ng-src="{{current_track.image_url}}">
          </ion-item>
          <ion-item ng-hide="current_track === null">
            <h2>{{current_track.name}}</h2>
            <p>{{current_track.artist}}</p>
          </ion-item>
          <ion-item>
            <div class="range">
              <p>{{slider.position | time}}</p>
              <input type="range" min="0" max="{{current_track.duration}}"
                ng-model="slider.position"
                on-touch="slider.touch()"
                on-release="slider.release()">
              <p>{{current_track.duration | time}}</p>
            </div>
          </ion-item>
          <ion-item>
            <div class="button-bar">
              <button class="button button-icon icon ion-ios7-skipbackward"
                ng-click="prevTrack()"></button>
              <button class="button button-icon icon"
                ng-class="playing ? 'ion-ios7-pause' : 'ion-ios7-play'"
                ng-click="toggle()"></button>
              <button class="button button-icon icon ion-ios7-skipforward"
                ng-click="nextTrack()"></button>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="History">
      <ion-content>
        <ion-list>
          <ion-item class="item-thumbnail-left" ng-repeat="track in history">
            <img ng-src="{{track.image_url}}">
            <h2>{{track.name}}</h2>
            <p>{{track.artist}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Queue">
      <ion-content>
        <ion-list>
          <ion-item class="item-thumbnail-left" ng-repeat="track in queue">
            <img ng-src="{{track.image_url}}">
            <h2>{{track.name}}</h2>
            <p>{{track.artist}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
